<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
    <a class="welcome-user" href="/account"
      >Hello <%= locals.accountData.account_firstname %>!</a
    ><br />
    <a title="Click to log out" href="/account/logout">Logout</a>

    <% } else { %>
    <p class="welcome-user">Welcome Guest!</p>
    <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>